@use '~scss/settings' as *;

.verify-account {
  &__success {
    @include flex(column, flex-start, center);
    gap: 0.5rem;
  }

  h1 {
    margin: 0;
  }

  p {
    text-align: center;
  }

  .auth-box {
    @include flex(column, center, center);
    gap: 1.5rem;
    min-height: 300px;
  }

  .form-area {
    @include flex(column, center, center);
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 0;

    button {
      width: 100%;
    }
  }

  .loading-spinner {
    @include size(3.75rem);
  }
}
