@use '~scss/settings' as *;

.password-field {
  @include flex(column);
  gap: 0.5rem;

  &__input-container {
    @include flex(row, flex-start, center);
    gap: 0.5rem;

    .MuiInputBase-root {
      width: 100%;
    }
  }
}
