@use '~scss/settings' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  @include size(1.5rem);

  border: 0.2rem solid $color-gray-f3;
  border-top: 0.2rem solid $color-black;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}
