@use '~scss/settings' as *;

$header-height: 56px;

.header {
  max-width: 1300px;
  margin: auto;

  @include flex(row, flex-start, center);

  padding: 16px 16px 8px;
  height: $header-height;

  svg {
    @include size(32px);
  }

  nav {
    @include flex(row, space-between, center);

    width: 100%;
  }

  &__left-section,
  &__right-section {
    @include flex(row, flex-start, center);
    @include gap(12px);
  }
}
