$color-white: #fff;

$color-black: #000;
$color-black-05: #050505;
$color-black-0B: #0b0b0b;

$color-error: #ff4d4f;

$color-primary: #00897b;

$color-gray-1a: #1a1a1a;
$color-gray-22: #222;
$color-gray-333C4D: #333c4d;
$color-gray-44: #444;
$color-gray-48: #484848;
$color-gray-4F: #4f4f4f;
$color-gray-56: #565656;
$color-gray-61: #616161;
$color-gray-66: #666;
$color-gray-82: #828282;
$color-gray-99: #999;
$color-gray-E4E6: #e4e6e4;
$color-gray-e7: #e7e7e7;
$color-gray-ed: #ededed;
$color-gray-ef: #efefef;
$color-gray-f2f3: #f2f3f7;
$color-gray-f2f3f8: #f2f3f8;
$color-gray-f3: #f3f3f3;
$color-gray-f9f: #f9fafb;
$color-gray-b2: #b2b2b2;
$color-gray-bd: #bdbdbd;
$color-gray-aa: #aaa;
$color-gray-E0: #e0e0e0;
